.header{
    text-transform: capitalize;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 1.8rem;
    margin-top: 2.3rem;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.header img{
    vertical-align: middle;
}

.header__list{
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

header .hire{
    width: auto;
}

.header__item{
    color:var(--white);
    padding:1rem;
    margin: 0 1rem;
}

.header__item:hover{
    color:var(--yellow);
}

@media screen and (max-width: 839px){
    .header{
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 545px){
    .header__hire{
        display: none;
    }

    .header__item:first-child{
        display: none;
    }
    .header__item{
        padding:.5rem;
    }
}
