.header{
    text-transform: capitalize;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 1.8rem;
    margin-top: 2.3rem;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.header img{
    vertical-align: middle;
    margin-right: 6rem;
}

.header__list{
    display:flex;
    flex-wrap: wrap;
}

header .hire{
    width: auto;
}

.header__item{
    color:var(--white);
    padding:1rem;
    margin: 0 1rem;
}

.header__item:hover{
    color:var(--yellow);
}