.title{
    text-align: center;
}

.container, .fields{
    display: flex;
    flex-direction: column;
}

.form{
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    padding: 1rem 0 0;
    justify-content: space-between;
}

.fields{
    flex: 1 0 auto;
}

.fields>*{
    margin: .5rem 0;
    padding: 1rem;
}

.textarea{
    flex: 1 0 auto;
    min-height:4rem; 
}

.buttons{
    padding: 0;
    display: flex;
    justify-content: space-between;
}
