.skills{
    display: flex;
    justify-content: space-between;
}

.skills__icons{
    width:40rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content:flex-start;
    gap:0;
}

.skills__text{
    margin:0rem 0 2rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: flex-end;
    flex-wrap:wrap;
}

.skill__text{
    padding: 1rem;
    border-radius: 1rem;
    display: block;
}

.skill, .skill__text{
    transition: all 1s ease-in;
    cursor: pointer;
}

.skill:hover, .skill__text:hover{
    background-color: var(--oYellow);
    transform: scale(1.1);
}

.skill{
    padding: 1.6rem;
    background-color:var(--lGrey);
    border-radius: 1rem;
    width:5rem;
    height:5rem;
    margin:0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skill > img{
    height:100%;
}