.about, .skills{
    display: flex;
    justify-content: space-between;
}

.about__foto{
    width: 45%;
    margin: 2rem;
    float:left;
    background-image: url('../../img/bg.png');
    background-size:100% 75%;
    background-repeat: no-repeat;
}

.about__foto > img{
    width:100%;
}

.content{
    /* width:52%; */
    font-family: 'Poppins';
    font-weight: 400;
    margin-bottom: 7rem;
}
