.about{
    display: flex;
    justify-content: space-between;
    margin-bottom: 16rem;
}

.about__foto{
    width: 45%;
    margin: 2rem 5rem 0 0;
    float:left;
    background-image: url('../../img/bg.png');
    background-size:100% 75%;
    background-repeat: no-repeat;
}

.about__foto > img{
    width:100%;
}

.about__text{
    margin-bottom: 3rem;
}

.about a{
    transition: font-size 1s ease;
}

.about a:hover{
    font-size:1.8rem;
}

.content{
    font-family: 'Poppins';
    font-weight: 400;
}

@media screen and (max-width: 545px){
    .about{
        margin-bottom:6rem;
    }
}

@media screen and (max-width: 389px){
    .about__foto{
        width:100%;
    }
    .about__text, .about__hire{
        display: none;
    }
    #about{
        margin-top:0;
    }
}

@media (orientation: landscape) {
    .about{
        margin: 10vh;
    }
  }