
.categories{
    margin:0 auto;
    display: flex;
    justify-content: center;
}

.category{
    font-weight: 600;
    font-size: 1.6rem;
    padding: 0.5rem 2rem;
    border-radius: 0.3rem;
    margin:1rem;
    transition: all 1s ease;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.selected-category{
    border: 1px solid var(--yellow)
}

.category:hover{
    background-color: var(--yellow);
    color: var(--black);
    transform: scale(1.1);
}

@media screen and (max-width: 479px){
    .category{
        padding: 0.5rem 1rem;
        margin:.1rem;
    }
    .category:hover{
        transform: none;
    }
}
@media screen and (max-width: 660px){
    .clue{
        display: block;
        font-size: 1rem;
        line-height: 1.5rem;
    }
    .works .subtitle{
        margin-bottom: 1.5rem;
    }
}

@media screen and (max-width: 219px){
    .categories{
        flex-wrap: wrap;
    }
}