footer, footer a{
    font-family: 'Work Sans';
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 3.6rem;
    color:var(--llGrey);
    text-decoration: none;
}

footer{
    background-color: #1C1C1C;
    padding:5rem 0 3rem;
    overflow: hidden;
}

footer h1{
    color:var(--yellow);
    font-size: 3.2rem;
    text-align: left;
    margin:0;
    line-height: 4rem;
}

footer h2{
    font-family: 'Work Sans';
    font-weight: 700;
    font-size: 2.2rem;
    color:#F5FBF2;
    line-height: 3rem;
    margin:0 0 1rem;
}

footer p{
    font-weight: 600;
    margin:0;
}

footer a:hover{
    color: var(--yellow)
}

.footer{
    justify-content: space-between;
    display:flex;
    flex-wrap: wrap;
}

.footer__column{
    min-width:10rem;
    margin: .25rem 2rem;
    text-transform: capitalize;
}

.footer__column:first-child{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer__contacts{
    text-transform: none; 
} 

.name{
    word-wrap: break-word;
}

.sign{
    float:right;
    padding: .8rem 7rem 0;
    font-weight:300;
    transition: all 1s ease;
    display: inline-block;
    text-align: right;
    line-height: 3rem;
    font-size:1.5rem;
}

.sign a{
    color:white;
    font-size: 1.5rem;
    line-height: 3rem!important;
}

.sign:hover{
    transform: scale(1.1);
}

@media screen and (max-width: 732px) {
    .footer *{
        font-size: 1.5rem;
        line-height: 2.5rem;
    }
    .name{
        font-size: 2.5rem;
        line-height: 4rem;    
    }
}

@media screen and (max-width: 657px){
    .footer__navigation{
        display: none;
    }
}

@media screen and (max-width: 548px){
    #contacts{
        padding-top:0;
    }

    .footer__list{
        display: flex;
        flex-wrap: wrap;
        list-style-type: disc;
    }
    .footer__item{
        margin: 0 1.1rem; 
    }
    .footer__item:first-child{
        list-style-type: none;
        margin-left: 0;
    }
    .footer__title{
        display: none;
    }
    .footer__contacts-column a{
        margin: 0 1rem .5rem 0;
    }
    .sign{
        padding-right: 3rem;
        font-size: 1.3rem;
    }
    .footer__profession{
        display: none;
    }
}

@media screen and (max-width: 290px){
    .name{
        font-size: 2rem; 
        line-height: 3rem;; 
        word-break: break-all;
    }
    .footer__contacts{
        word-break: break-all;
    }
}

@media screen and (max-width: 171px){
    .footer__item:first-child{
        list-style-type: disc;
        margin-left: 1.1rem;
    }
}