.sites{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.site {
    margin: 1.5rem;
    transition: all 1s ease;
    max-width:30%;
    max-height: 50rem;
    overflow: hidden;
    position: relative;
    border-radius: 3rem;
    overflow: hidden;
}

.site:hover{
    transform: scale(1.1);
}

.site>img {
    width:100%;
}

.site:hover .site__hover{
    height:50%;
}

.site:hover .site__git{
    height:50%;
    display:flex;
}

.site:hover .site__click{
    height:50%;
}

.site-msg .site__hover{
    height:0;
}

.site-msg:hover .site__hover{
    height:25%;
}

.site-msg:hover .site__git{
    height:100%;
}

.site__hover{
    position:absolute;
    bottom:0;
    left:0;
    width: 100%;
    height: 25%;
    transition: all 1s ease;
}

.site__hover>a:hover{
    opacity:90%;
}

.site__hover>a{
    opacity: 75%;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: large;
    font-weight: bold;
}

.site__click{
    display:flex;
    background-color: black;
    color: white;
    height:100%;
}

.site__git{
    display: none;
    height:0;
    color:black;
    background-color: var(--yellow);
}

.noSites{
   font-size: 1.5rem;
   padding:3rem; 
   color: var(--llGrey)
}

.site-msg{
    display:flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    border-radius: 3rem;
    max-width: 30rem;
    min-height: 20rem;
}

.site-msg p{
    max-width: 80%;
    margin: 3rem;
    font-size: 2rem;
    line-height: 4rem;
    text-align: center;
}

@media screen and (max-width: 999px){
    .site{
        max-width: 40%;
    }
}

@media screen and (max-width: 666px){
    .site-msg p{
        font-size: 1.5rem;
        line-height: 3rem;;
    }
}

@media screen and (max-width: 526px){
    .site-msg p{
        font-size: 1rem;
        line-height: 2rem;;
    }
}

@media screen and (max-width: 402px){
    .site-msg p{
        line-height: 1.5rem;;
    }
}

@media screen and (max-width: 370px){
    .site{
        max-width: 90%;
    }
}

@media (orientation: landscape) and (max-height: 600px) {
    .site {
      height: 80vh;
    }
  }