.sites{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.site {
    margin:3rem 1.5rem;
    transition: all 1s ease;
    max-width:30%;
    max-height: 50rem;
    overflow: hidden;
}

.pair_columns .site{
    max-width: 48%;
}

.site:hover{
    transform: scale(1.1);
}

.site>img {
    width:100%;
}

.noSites{
   font-size: 1.5rem;
   padding:3rem; 
   color: var(--llGrey)
}

.reactSign{
    display:flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    border-radius: 3rem;
}

.reactSign p{
    max-width: 80%;
    margin: 3rem;
    font-size: 2rem;
    line-height: 4rem;
    text-align: center;
}

@media screen and (max-width: 999px){
    .site{
        max-width: 40%;
    }
}

@media screen and (max-width: 666px){
    .reactSign p{
        font-size: 1.5rem;
        line-height: 3rem;;
    }
}

@media screen and (max-width: 526px){
    .reactSign p{
        font-size: 1rem;
        line-height: 2rem;;
    }
}

@media screen and (max-width: 402px){
    .reactSign p{
        line-height: 1.5rem;;
    }
}

@media screen and (max-width: 359px){
    .site{
        max-width: 90%;
    }
}

@media (orientation: landscape) and (max-height: 600px) {
    .site {
      height: 80vh;
    }
  }